/* src/components/Chatbot.module.css */

/* Chatbot.module.css */

.typingLoader {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin: 10px 0;
}

.typingDots {
  display: flex;
  align-items: center;
}

.dot {
  width: 10px;
  height: 10px;
  margin: 0 2px;
  background-color: #000;
  border-radius: 50%;
  animation: typingAnimation 1.5s infinite ease-in-out;
}

.dot:nth-child(2) {
  animation-delay: 0.3s;
}

.dot:nth-child(3) {
  animation-delay: 0.6s;
}

@keyframes typingAnimation {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.mobileFrame {
  position: relative;
  width: 100%;
  max-width: 375px; /* Mobile frame width */
  height: 667px; /* Mobile frame height */
  background-color: white;
  border: 2px solid #dcdcdc;
  border-radius: 36px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin: 0 auto; /* Center horizontally */
}

.statusBar {
  height: 20px;
  background-color: #f0f0f0;
}

.chatContainer {
  display: flex;
  flex-direction: column;
  height: calc(100% - 20px); /* Adjust height to exclude the status bar */
}

.chatArea {
  flex: 1;
  padding: 16px;
  overflow-y: auto;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
}

.inputArea {
  display: flex;
  align-items: center;
  border-top: 1px solid #dcdcdc;
  background-color: #ffffff;
}

.inputField {
  flex: 1;
  padding: 12px;
  border: none;
  background-color: #f1f1f1;
  outline: none;
}

.sendButton {
  padding: 12px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

.sendButton svg {
  display: inline-block;
  width: 1.2rem;
  height: 1rem;
  fill: #f0f0f0;
}

.sendButton:hover {
  background-color: #0056b3;
}

/* Responsive styles for mobile frame */
@media (max-width: 768px) {
  .mobileFrame {
    max-width: 100%;
    height: auto;
  }
}

/* Message alignment and styling */
.message {
  display: flex;
  margin: 10px 0;
}

.textRight {
  margin-left: auto; /* Pushes the message to the right */
  background-color: #2196F3;
  color: white;
  border-radius: 12px 12px 0 12px;
  padding: 10px;
  max-width: 75%;
  word-wrap: break-word; /* Ensures text wraps */
}

.textLeft {
  margin-right: auto; /* Pushes the message to the left */
  background-color: rgb(229, 231, 235);
  color: black;
  border-radius: 12px 12px 12px 0;
  padding: 10px;
  max-width: 75%;
  word-wrap: break-word; /* Ensures text wraps */
}
